
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Roboto+Serif:wght@300&display=swap');

h1,h2,h3,h4,p{
    font-family: 'Montserrat', sans-serif;
    margin: 10px 0;
   }
h1, h4,p{
    color: rgb(7,71,104);
}
h1{
    font-size: 3rem;
}
h2{
    font-size: 30px;
    color: rgb(102,171,185);
}
h3{
    font-size: 20px;    
}
h4{
    font-size: 15px;    
}
p{
    font-size: 18px;
}
p::first-letter{
    font-size: 30px;
    font-weight: bold;
}
figcaption::first-line{
    color: rgb(59,160,181);
}
figcaption::first-letter{
    font-size: 30px;
    font-weight: bold;
    color: rgb(59,160,181);
}

#nav{
    background-color: rgba(102,171,185, .5);
    color: rgb(7, 71, 104); 
}


.btn-servicio{
    background-color: rgb(7, 71, 104, .5);
    color:black;
}
.btn-servicio:hover{
    background: linear-gradient(to top, rgb(7, 71, 104, .5), rgb(7, 71, 104, 1.0));
    color: whitesmoke;
    cursor: pointer;
    transition: all 2s;
}
.bg-hoja{
    background-image: url(../imagenes/white-paper-crumpled-texture-background-free-photo.jpg);
}
.general {
    margin: 30px;
}
.gradiente{
    background: linear-gradient(to left,rgb(204,221,229,.5), whitesmoke);
}
.gradiente2:hover{
    background: linear-gradient(to top, rgb(7, 71, 104, .5), rgb(7, 71, 104, 1.0));
    color: whitesmoke;
    cursor: pointer;
    transition: all 2s;
}
.gradiente3:hover{
    background: linear-gradient(to left, rgb(7, 71, 104, 1.0), rgb(7, 71, 104, .5)); 
    color: whitesmoke;
    cursor: pointer;
    transition: all 5s;
}
.transform:hover{
    transform: translate(20px, -50px);
    cursor: pointer;
}
.scale:hover{
    transform: scale(1.2);
    cursor: pointer;
    transition: transform (3s);
}
@keyframes textAlpha{
    from{opacity: 0}
    to{ opacity: 1}
}  
h2, img, #form{
    animation-name: textAlpha;
    animation-duration: 5s;
}
@media (min-width: 280px) and (min-width: 666px){
    #nav h1[class="scale fw-bold text-center]{
        width: 666px;
    }
}